!!!
%html
  %head
    %title Client Mail Panom
    :css
      @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
  %body
    .deviceWidth{:style => "width: 740px;background: #fff;font-family: 'Roboto', Arial, sans-serif; margin:0 auto; padding: 30px 30px 40px;"}
      .deviceWidth{:style => "width: 100%;background: #FFF;font-family: 'Roboto', Arial, sans-serif; margin:0 auto;  border-radius: 45px;"}
        %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "font-family: 'Roboto', Arial, sans-serif;line-height: 28px; background: #fff; border-radius: 45px; border:1px solid #dfdfdf", :width => "100%"}
          %tbody
            %tr
              %td{:colspan => "2", :style => " padding: 0 0;  border-radius: 45px;"}
                %div{:style => "margin:0 auto 50px; padding:0  30px;"}
                  %h1{:style => "font-weight: 500;font-size: 14px;color: #000; margin:0"} Dear #{@lead.name},
                  %span{:style => "font-size: 14px; font-weight: 400; color: #000; text-align: left; margin:0 0 10px; line-height: 20px;"}
                    %p
                      Accept Greetings of the day from Panom Developers.
                    %p
                      We understand that after further consideration, you may have decided not to pursue this opportunity at the moment.
                    %p
                      We respect your decision and would like to assure you that we are always available to assist you in your future property endeavours. We thank you for your previous interest, and if you ever reconsider or have any further queries, please do not hesitate to contact us. You can reach me directly at 7665 831 831 or simply reply to this email.
                    %p
                      Thank you once again for considering PARLESHWAR AANGAN. We wish you the very best in your future home buying endeavours.
                    %p
                      Warm Regards,
                      %br
                      Seemeen Lakdawala
                      %br
                      Manager - PreSales
                      %br
                      7665 831 831
                      %br
                      Panom Developers
                      %br
                      www.panomdevelopers.com
