!!!
%html
  %head
    %title Client Mail Panom
    :css
      @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
  %body
    .deviceWidth{:style => "width: 740px;background: #fff;font-family: 'Roboto', Arial, sans-serif; margin:0 auto; padding: 30px 30px 40px;"}
      .deviceWidth{:style => "width: 100%;background: #FFF;font-family: 'Roboto', Arial, sans-serif; margin:0 auto;  border-radius: 45px;"}
        %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "font-family: 'Roboto', Arial, sans-serif;line-height: 28px; background: #fff; border-radius: 45px; border:1px solid #dfdfdf", :width => "100%"}
          %tbody
            %tr
              %td{:colspan => "2", :style => " padding: 0 0;  border-radius: 45px;"}
                %div{:style => "margin:0 auto 50px; padding:0  30px;"}
                  %h1{:style => "font-weight: 500;font-size: 14px;color: #000; margin:0"} Dear #{@lead.name},
                  %span{:style => "font-size: 14px; font-weight: 400; color: #000; text-align: left; margin:0 0 10px; line-height: 20px;"}
                    %p
                      Accept Greetings of the day from Panom Developers.
                    %p
                      At the outset we thank you for visiting us at our Customer Experience Centre.
                    %p
                      We hope we were able to explain the Project in detail and also respond to your queries satisfactorily.
                    %p
                      Spread across 2.5 acres of pristine land with 45+ amenities, PARLESHWAR AANGAN is a one-of-a-kind residential development.
                    %p
                      We have attached the E Brochure & link of the Video of the Project for your kind perusal - 
                      %a{:href => "https://youtu.be/nImm8ZTbmz4"}
                        https://youtu.be/nImm8ZTbmz4
                    %p
                      However in case of any query that would have remained unanswered or any other aspect, Please feel free to reach out to me.
                    %p
                      Warm Regards,
                      %br
                      Tejus Panikar
                      %br
                      Site Head - Sales
                      %br
                      7232 831 831
                      %br
                      Panom Developers
                      %br
                      www.panomdevelopers.com