!!!
%html
  %head
    %title Client Mail Ravima
    :css
      @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
  %body
    .deviceWidth{:style => "width: 740px;background: #fff;font-family: 'Roboto', Arial, sans-serif; margin:0 auto; padding: 30px 30px 40px;"}
      %a{:href => "https://ravima.in/"}
        %img{:alt => "", :src => "http://propertypistol.in/mailer/client-mail-ravima/logo.jpg", :style => "display: table; margin: 20px 0 30px; max-width: 250px;"}/
      .deviceWidth{:style => "width: 100%;background: #FFF;font-family: 'Roboto', Arial, sans-serif; margin:0 auto;  border-radius: 45px;"}
        %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "font-family: 'Roboto', Arial, sans-serif;line-height: 28px; background: #fff; border-radius: 45px; border:1px solid #dfdfdf", :width => "100%"}
          %tbody
            %tr
              %td{:colspan => "2", :style => " padding: 0 0;  border-radius: 45px;"}
                %img{:alt => "", :src => "http://propertypistol.in/mailer/client-mail-ravima/bg-image-new.jpg", :style => "display: block; margin: 0 0 50px;  border-radius: 45px 45px 0 0; width:100%"}/
                %div{:style => "margin:0 auto 50px; padding:0  30px;"}
                  %h1{:style => "font-weight: 500;font-size: 14px;color: #000; margin:0"} Dear Customer,
                  %p{:style => "font-size: 14px; font-weight: 400; color: #000; text-align: left; margin:0 0 10px; line-height: 20px;"}
                    Warm greetings from Ravima Venture,
                  %p{:style => "font-size: 14px; font-weight: 400; color: #000; text-align: left; margin:0 0 10px; line-height: 20px;"}
                    Thank you for reaching out to us. We acknowledge the receipt of your contact details and email ID, and we appreciate your interest in our Property.
                  %p{:style => "font-size: 14px; font-weight: 400; color: #000; text-align: left; margin:0 0 10px; line-height: 20px;"}
                    Our team is dedicated to providing you with the best possible assistance, and we assure you that your inquiry is important to us. We will be responding to your inquiry at the earliest opportunity. In the meantime, if you require immediate assistance, please feel free to contact our Sales Person at +91 90750 14495.
                  %p{:style => "font-size: 14px; font-weight: 400; color: #000; text-align: left; margin:0 0 10px; line-height: 20px;"}
                    We are genuinely grateful for the trust you have placed in us, and we look forward to the opportunity to serve you. Your satisfaction is our priority, and we are committed to delivering the highest standard of service.
                  %p{:style => "font-size: 14px; font-weight: 400; color: #000; text-align: left; margin:0 0 10px; line-height: 20px;"}
                    For any further communication, you can reach us at enquiry@ravimaventures.com. Additionally, you can explore more about our offerings on our website: www.ravima.in.
                  %p{:style => "font-size: 14px; font-weight: 400; color: #000; text-align: left; margin:0 0 10px; line-height: 20px;"}
                    Once again, thank you for considering Ravima Venture. We are excited about the prospect of working with you and assure you of our best services at all times.
                  %p{:style => "font-size: 14px; font-weight: 400; color: #000; text-align: left; margin:0 0 10px; line-height: 20px;"}
                    Best regards,
                  %p{:style => "font-size: 14px; font-weight: 400; color: #000; text-align: left; margin:0 0 10px; line-height: 20px;"}
                    Customer Delight Department
                    %br
                    Ravima Venture