.nested-fields.col-md-4{:style => "border: 1px dashed #999; border-radius: 5px; padding: 20px;"}
  .form-group
    = f.select :source_id, options_from_collection_for_select(current_user.company.sources, :id, :name, (f.object.source_id rescue nil)), :prompt=>'Select Source', class: 'form-control', id: 'source_id'
  %center
    = link_to_remove_association "Remove", f, :class=>"btn btn-danger"