.row
  .col-md-12
    .form-group
      %label Select Users
      = select_tag :user_ids, options_from_collection_for_select(current_user.manageables, :id, :name, params[:user_ids]), multiple: true, class: "form-control multi-select-list"