.nested-fields.col-md-4
  .form-group.required{:style => "border: 1px dashed #999; border-radius: 5px; padding: 20px;"}
    = f.text_field :number, :value=>f.object.number, :class=>"form-control", label: 'Ads ID'
    %center
      = link_to_remove_association "Remove", f, :class=>"btn btn-remove-small"