# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: d4df60acd7863ff2e31275fc78d207af2d66810bac20a54424078129443ebd99caf094c551795bfe78796c5484c76993314dedf32f829da9948003e67e01f1a0

test:
  secret_key_base: 40762f2f442e08320d31d81bd778433f50397071f4c94864fb6d68a3f5870e84e83575fabb6d8fec4f9767e3d2920abc28d3fa01504ddac7e37e9925e854d659

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
