test:
  service: Disk
  root: <%= Rails.root.join("tmp/storage") %>

local:
  service: Disk
  root: <%= Rails.root.join("storage") %>

# Amazon S3 configuration (only used if explicitly configured)
amazon:
  service: S3
  access_key_id: <%= Rails.application.credentials.dig(:aws, :access_key_id) || ENV['AWS_ACCESS_KEY_ID'] %>
  secret_access_key: <%= Rails.application.credentials.dig(:aws, :secret_access_key) || ENV['AWS_SECRET_ACCESS_KEY'] %>
  region: <%= Rails.application.credentials.dig(:aws, :region) || ENV['AWS_REGION'] || 'ap-south-1' %>
  bucket: <%= Rails.application.credentials.dig(:aws, :bucket_name) || ENV['AWS_BUCKET_NAME'] %>

# Use Amazon S3 to store uploaded files.
#
# Add the `aws-sdk-s3` gem to your Gemfile:
#
#   gem "aws-sdk-s3", require: false
#
# The `require: false` is important to avoid loading the AWS SDK when
# the Active Storage service is not used.
#
# Uncomment and edit the following lines to use a different AWS region:
#
# amazon:
#   service: S3
#   access_key_id: <%= Rails.application.credentials.dig(:aws, :access_key_id) %>
#   secret_access_key: <%= Rails.application.credentials.dig(:aws, :secret_access_key) %>
#   bucket: your_own_bucket-<%= Rails.env %>

# Remember not to checkin your credentials file. Instead, use the following:
#
#   rails credentials:edit
#
# This will create a new credentials file with the AWS access key and secret. 