.nested-fields.col-md-4{:style => "border: 1px dashed #999; border-radius: 5px; padding: 20px;"}
  .form-group.required
    = f.text_field :number,  :class=>"form-control"
  .form-group
    = f.text_field :group_name, class: "form-control"
    = f.check_box :is_active
  %center
    = link_to_remove_association "Remove", f, :class=>"btn btn-danger"
