.content-wrapper
  .content-header
    .container-fluid
      .row.mb-2
        .col-sm-12
          %ol.breadcrumb.small
            %li.breadcrumb-item
              %a{:href => "#"} Home
            %li.breadcrumb-item.active Project Details
  .content
    .container-fluid
      .row
        .col-lg-12
          .card
            .card-body
              %ul.nav.nav-tabs.title-tab{:role => "tablist"}
                %li.nav-item
                  %a#manageFlats-tab.btn-outline-white.rounded-top{"aria-controls" => "manageFlats", "aria-selected" => "true", "data-bs-toggle" => "pill", :href => "#manageFlats", :role => "tab"} Manage Flats
              .form-group
                = form_tag nil, method: :get, class: "filter-search-menu" do
                  .row
                    .col-md-7
                      .holderBuilder
                        .row
                          .col-md-6
                            %label Select Project
                            = select_tag :project_ids, options_for_select([]), class: "form-control select2", style: "width:100%"
                          .col-md-6
                            %label Select Building
                            = select_tag :building_id, options_for_select([], params[:building_id]), class: "form-control select2 building_id", style: "width:100%"
                .row.mt-4
                  .col-12
                    %ul.nav.nav-tabs.small-tabs{:role => "tablist"}
                      %li.nav-item
                        %a#bldga-tab.d-flex.align-items-center.btn-outline-white.rounded.all-flats{"aria-controls" => "bldga", "aria-selected" => "true", "data-bs-toggle" => "pill", :href => "#bldga", :role => "tab", data: {flats: @flats, building_id: (@flats.present? ? @flats.first["building_id"] : nil)}}
                          All
                      - if current_user.company.setting.present? && current_user.company.enable_expire_block_flat_details
                        %li.nav-item
                          %a#bldga-tab.d-flex.align-items-center.btn-outline-white.rounded.expiring{"aria-controls" => "bldga", "aria-selected" => "true", "data-bs-toggle" => "pill", :href => "#bldga", :role => "tab", data: {flats: @flats, building_id: (@flats.present? ? @flats.first["building_id"] : nil)}}
                            Expiring Blocked Flats
                        %li.nav-item
                          %a#bldga-tab.d-flex.align-items-center.btn-outline-white.rounded.expired{"aria-controls" => "bldga", "aria-selected" => "true", "data-bs-toggle" => "pill", :href => "#bldga", :role => "tab", data: {flats: @flats, building_id: (@flats.present? ? @flats.first["building_id"] : nil)}}
                            Expired Blocked Flats
                    #flat_details

:javascript
  $(".expiring").click(function(e){
    $(this).parent().addClass('elevation-1');
    $('.all-flats, .expired').parent().removeClass('elevation-1')
    var flat_filter = "expiring"
    loadFilterFlats(flat_filter);
  })
  $(".expired").click(function(){
    $(this).parent().addClass('elevation-1');
    $('.expiring, .all-flats').parent().removeClass('elevation-1')
    var flat_filter = "expired"
    loadFilterFlats(flat_filter);
  })
  $(".all-flats").click(function(){
    $(this).parent().addClass('elevation-1');
    $('.expired, .expiring').parent().removeClass('elevation-1')
    var flat_filter = "all"
    loadFilterFlats(flat_filter);
  })

  function loadFilterFlats(flat_filter){
    building_id=$('#building_id').val()
    var url = '/companies/flats/'+building_id+'/fetch_building_flats'
    $.ajax({
      type: 'GET',
      url: url,
      data: {filter: flat_filter},
      dataType: 'script'
    });
  }

  $('.dropdown-menu.flats').click(function(e) {
    e.stopPropagation();
    if ($(e.target).is('[data-toggle=modal]')) {
      $($(e.target).data('target')).modal()
      console.log($(e.target).attr('data-id'))
    }
  });
  $(document).ready(function(){
    loadProjects();
  })
  function loadProjects(){
    var fetch_project = "/companies/flats/fetch_projects";
    $.getJSON(fetch_project, function(json){
      $("#project_ids").append($('<option>').text("Select").attr('value', ''));
      $.each(json, function(i, obj){
        $("#project_ids").append($('<option>').text(obj.name).attr('value', obj.id));
      });
    });
  }
  $("#project_ids").change(function(){
    if($(this).val()){
      var project_id = $(this).val()
      var fetch_buildings = "/companies/flats/" + project_id + "/fetch_buildings";
      $.getJSON(fetch_buildings, function(json){
        $(".building_id").empty();
        $(".building_id").append($('<option>').text("Select").attr('value', ''));
        $.each(json, function(i, obj){
          $(".building_id").append($('<option>').text(obj.name).attr('value', obj.id));
        });
      });
    }
  });
  $("#building_id").change(function(e){
    e.preventDefault();
    var building_id = $(this).val();
    if (building_id){
      getFlatsDetail(building_id);
    }
  });
  function getFlatsDetail(building_id) {
    $('.expiring, .expired, .all-flats').parent().removeClass('elevation-1');
    var url = '/companies/flats/'+building_id+'/fetch_building_flats'
    $.ajax({
      type: 'GET',
      url: url,
      dataType: 'script'
    });
  }

