%svg#fi_9001414{"clip-rule" => "evenodd", "fill-rule" => "evenodd", :height => "512", "stroke-linejoin" => "round", "stroke-miterlimit" => "2", :viewbox => "0 0 24 24", :width => "512", :xmlns => "http://www.w3.org/2000/svg"}
  %g#Icon
    %path{:d => "m9.25 7.5c1.243 0 2.25 1.007 2.25 2.25v3c0 .414-.336.75-.75.75s-.75-.336-.75-.75v-3c0-.414-.336-.75-.75-.75s-.75.336-.75.75v3c0 .414-.336.75-.75.75s-.75-.336-.75-.75v-3c0-1.243 1.007-2.25 2.25-2.25z"}
    %path{:d => "m12.5 12.75v-4.5c0-.414.336-.75.75-.75h1.5c1.243 0 2.25 1.007 2.25 2.25v1.5c0 1.243-1.007 2.25-2.25 2.25h-1.5c-.414 0-.75-.336-.75-.75zm1.5-.75h.75c.414 0 .75-.336.75-.75v-1.5c0-.414-.336-.75-.75-.75h-.75z"}
    %path{:d => "m10.75 10c.414 0 .75.336.75.75s-.336.75-.75.75h-3c-.414 0-.75-.336-.75-.75s.336-.75.75-.75z"}
    %path{:d => "m22 19.75c.414 0 .75.336.75.75s-.336.75-.75.75h-20c-.414 0-.75-.336-.75-.75s.336-.75.75-.75z"}
    %path{:d => "m18.882 2.75c.756 0 1.479.286 2.013.791.55.519.855 1.225.855 1.959v10c0 .734-.305 1.44-.855 1.959-.534.505-1.257.791-2.013.791h-13.764c-.756 0-1.479-.286-2.013-.791-.55-.519-.855-1.225-.855-1.959v-10c0-.734.305-1.44.855-1.959.534-.505 1.257-.791 2.013-.791zm-13.764 1.5c-.368 0-.723.135-.983.381-.244.231-.385.543-.385.869v10c0 .326.141.638.385.869.26.246.615.381.983.381h13.764c.368 0 .723-.135.983-.381.244-.231.385-.543.385-.869v-10c0-.326-.141-.638-.385-.869-.26-.246-.615-.381-.983-.381z"}
