%svg#fi_10009684{"enable-background" => "new 0 0 512 512", :height => "512", :viewbox => "0 0 512 512", :width => "512", :xmlns => "http://www.w3.org/2000/svg"}
  %g#Layer_2_00000097469747894302416050000002917915783155835571_
    %g#upload_arrow
      %path{:d => "m255.5 511.9c-41.6 0-83.2 0-124.7 0-57-.1-98.1-41-98.4-98-.1-19.9-.1-39.8 0-59.7.1-20.5 12.5-33.7 31.6-33.8s31.6 13.1 31.8 33.6c.1 20.2-.1 40.5.1 60.8.2 21.2 12.6 33.6 34 33.6h252.7c21.3 0 33.8-12.4 34-33.6.1-20.2-.1-40.5.1-60.8.1-20.5 12.6-33.6 31.7-33.6s31.7 13.2 31.5 33.8c-.2 25.9 1.2 52.1-2 77.6-6 46.8-45.8 79.8-93.2 80-43.2.3-86.2.1-129.2.1z"}
      %path{:d => "m224.3 109.2c-4.8 4.5-7.7 7-10.3 9.6-20.3 20.5-40.4 41.1-60.8 61.4-14.5 14.5-34.6 15.5-47.6 2.9s-12.5-33.4 1.7-47.8c41.4-41.6 82.9-83.1 124.5-124.5 14.7-14.6 33.8-14.6 48.4 0 41.9 41.6 83.6 83.3 125.2 125.2 13.7 13.8 13.8 34.6 1 47s-33 11.8-46.9-2c-20.7-20.6-41-41.5-61.5-62.2-2.6-2.7-5.5-5.2-9.7-9.1-.3 5.7-.6 9.4-.6 13.2 0 65.4.1 130.9-.1 196.3-.1 24.6-21.6 39.2-44.1 30.4-12.4-4.8-19.2-15.6-19.2-31.4-.1-64.7-.1-129.4 0-194.2z"}
