%svg#fi_3329438{"data-name" => "Layer 1", :height => "512", :viewbox => "0 0 24 24", :width => "512", :xmlns => "http://www.w3.org/2000/svg"}
  %path{:d => "m12 24a11 11 0 0 0 4.4-21.077 1 1 0 1 0 -.8 1.833 9 9 0 1 1 -7.2 0 1 1 0 1 0 -.8-1.833 11 11 0 0 0 4.4 21.077z"}
  %path{:d => "m12 10a1 1 0 0 0 1-1v-8a1 1 0 0 0 -2 0v8a1 1 0 0 0 1 1z"}
