%svg#fi_5587891{:height => "512", :viewbox => "0 0 96 96", :width => "512", :xmlns => "http://www.w3.org/2000/svg"}
  %g#Layer_1
    %g
      %path{:d => "m59.444 55.557c-.969 0-1.86.358-2.509 1.006l-8.972 8.971c-11.192-3.254-15.659-12.323-17.125-16.345l9.698-9.698c1.152-1.152 1.312-2.761.475-4.782-1.928-4.654-14.466-22.268-21.547-22.268-1.266 0-2.439.476-3.305 1.342l-9.44 9.44c-5.972 5.973.018 33.341 16.43 49.752 13.037 13.037 30.731 18.974 41.654 18.974 3.91-.001 6.692-.799 8.268-2.376l9.44-9.439c.678-.678 2.115-2.592.822-5.713-2.606-6.289-19.349-18.864-23.889-18.864zm5.359 30.185c-8.08.207-24.678-4.568-37.265-17.156-15.797-15.797-18.288-38.073-16.385-41.02l8.726-8.726c1.359.699 10.996 8.41 15.043 17.488l-9.268 9.267c-1.158 1.159-1.575 2.852-1.087 4.419 1.275 4.088 6.692 17.742 22.869 21.806.347.087 1.689 1.305 4.177-1.16l8.527-8.526c4.259 2.055 15.563 10.709 17.314 14.277.001 0-8.079 9.214-12.651 9.331z"}
      %path{:d => "m83.767 4h-32.893c-4.449 0-7.874 3.568-7.874 8.016v13.654c0 1.714 1.286 3.103 3 3.103s3-1.389 3-3.103v-13.654c0-1.026.847-2.016 1.874-2.016h32.893c1.027 0 2.233.99 2.233 2.016v53.374c0 1.714 1.286 3.103 3 3.103s3-1.389 3-3.103v-53.374c0-4.448-3.784-8.016-8.233-8.016z"}
      %path{:d => "m58.942 23h16.136c1.714 0 3.103-1.786 3.103-3.5s-1.389-3.5-3.103-3.5h-16.136c-1.714 0-3.103 1.786-3.103 3.5s1.389 3.5 3.103 3.5z"}
      %path{:d => "m58.942 36h16.136c1.714 0 3.103-1.286 3.103-3s-1.389-3-3.103-3h-16.136c-1.714 0-3.103 1.286-3.103 3s1.389 3 3.103 3z"}
      %path{:d => "m58.942 50h16.136c1.714 0 3.103-1.286 3.103-3s-1.389-3-3.103-3h-16.136c-1.714 0-3.103 1.286-3.103 3s1.389 3 3.103 3z"}
