%svg#fi_9777566{:height => "512", :viewbox => "0 0 24 24", :width => "512", :xmlns => "http://www.w3.org/2000/svg"}
  %g#_01{"data-name" => "01"}
    %path{:d => "m15 1.25h-6c-5.433 0-7.75 2.317-7.75 7.75v6c0 5.433 2.317 7.75 7.75 7.75h6c5.433 0 7.75-2.317 7.75-7.75v-6c0-5.433-2.317-7.75-7.75-7.75zm-.75 20h-5.25c-4.614 0-6.25-1.636-6.25-6.25v-6c0-4.614 1.636-6.25 6.25-6.25h5.25zm7-6.25c0 4.354-1.459 6.054-5.5 6.232v-18.464c4.041.178 5.5 1.878 5.5 6.232zm-12.72-6.09 2.56 2.56a.749.749 0 0 1 0 1.06l-2.56 2.56a.75.75 0 0 1 -1.06-1.061l2.03-2.029-2.03-2.029a.75.75 0 0 1 1.06-1.061z"}
