%svg#fi_16797245{fill: "none", height: "24", viewbox: "0 0 24 24", width: "24", xmlns: "http://www.w3.org/2000/svg"}
  %g{"clip-rule" => "evenodd", fill: "", "fill-rule" => "evenodd"}
    %path{d: "m12 2c-2.76142 0-4.99999 2.23858-4.99999 5s2.23857 5 4.99999 5c2.7614 0 5-2.23858 5-5s-2.2386-5-5-5z"}
    %path{d: "m9.00001 13c-1.66275 0-3.26177.7585-4.19885 1.9004-.4756.5796-.80994 1.2967-.83905 2.0915-.02973.8117.26326 1.6039.86748 2.2952 1.47256 1.6845 3.82369 2.7129 7.17041 2.7129 3.3467 0 5.6979-1.0284 7.1704-2.7129.6043-.6913.8972-1.4835.8675-2.2952-.0291-.7948-.3634-1.5119-.839-2.0915-.9371-1.1419-2.5361-1.9004-4.1989-1.9004z"}